<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<br>
<h1><%= @song.name %></h1>
<p>by <a href='/artists/<%= @song.artist.slug %>'><%= @song.artist.name %></a></li>
<h4>Genres:</h4>
<ul>
  <% @song.genres.each do |genre| %>
    <li><a href='/genres/<%= genre.slug %>'><%= genre.name %></a></li>
  <% end %>
</ul>